<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<body>

<f:layout name="Default"/>

<f:section name="Main">
  <h1><f:translate key="show.comments" extensionName="comments"/> {page.title} (ID: {page.uid})</h1>
  <f:if condition="{comments}">
    <f:then>
      <div role="tabpanel">
        <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
          <li role="presentation" class="t3js-tabmenu-item active js-reload-frame">
            <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-toggle="tab">
              <f:translate key="list.administration" extensionName="comments"/>
            </a>
          </li>
          <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-toggle="tab">
              <f:translate key="list.approval" extensionName="comments"/>
            </a>
          </li>
          <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#tab-3" title="" aria-controls="tab-3" role="tab" data-toggle="tab">
              <f:translate key="list.report" extensionName="comments"/>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="panel panel-tab">
              <div class="panel-body">
                <f:render partial="CommentAdministrationTable" section="Main" arguments="{_all}" />
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab-2">
            <div class="panel panel-tab">
              <div class="panel-body">
                <f:render partial="CommentApprovalTable" section="Main" arguments="{_all}" />
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab-3">
            <div class="panel panel-tab">
              <div class="panel-body">
                <h2>
                  <f:translate key="dashboard.reported" extensionName="comments"/>
                </h2>

                <f:render partial="CommentReportTable" section="Main" arguments="{_all}" />

                <h2>
                  <f:translate key="dashboard.acknowledged" extensionName="comments"/>
                </h2>

                <f:render partial="CommentAcknowledgeTable" section="Main" arguments="{_all}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </f:then>
    <f:else>
      <p><f:translate key="list.no_comments" extensionName="comments"/></p>
    </f:else>
  </f:if>

</f:section>
</body>
</html>

